---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
Engineer with a solid foundation in IT and network forensics, and a strong focus on the intersection of software engineering and cybersecurity. Experience in various programming languages, frameworks, and security-focused tools, libraries, and development environments.

</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="IT/network forensic and information security"
      subtitle="2016 - 2019, (Bachelor+Master), Halmstad University, Halmstad, Sweden"
    />
    <TimeLineElement
      title="Software Engineering"
      subtitle="2019 - 2020, Uppsala University, Uppsala, Sweden"
    />
<TimeLineElement
      title="Software Engineering and Technology"
      subtitle="2021 - 2023, Master, Chalmers University, Gothenburg, Sweden"
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

    <TimeLineElement
      title="Amanuens (Computer Science and Engineering)"
      subtitle="2022-2023 Chalmers University, Gothenburg, Sweden"
    >
    </TimeLineElement>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Security Analyst"
      subtitle="2022 - 2023 HCLTech, Gothenburg, Sweden"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Security Analyst"
      subtitle="2023 - Combitech, Växjö, Sweden"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Blue Team Level 1</a>
    </li>
    <li>
      <a href="#" target="_blank"> MRCTA: Red Team Multi-Cloud Analyst</a>
    </li>
    <li>
<a href="#" target="_blank"> Pentesterlab: Code Review/Java</a>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Javascript</li>
    <li>C</li>
    <li>Assembly</li>
    <li>Python</li>
    <li>Latex</li>
    <li> Vim </li>
    <li> Tanium</li>
    <li> Azure </li>
    <li> ProofPoint </li>
    <li> QRadar </li> 
    <li> ELK-stack </li>
    <li> MISP </li>
    <li> Cisco AMP</li>
    <li> Suricata & Snort </li>
  </ul>
</BaseLayout>
